/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Arvo|Roboto');

// Colors
$background: #fcfcfc;
$text-headline: #808080;

html,
body {
  background: $background;
  height: 100%;
}

body {
  color: $text-headline;
  font-family: 'Arvo', serif;
  margin: 0;
  padding: 1em;
}

a {
  color: $text-headline;
  text-decoration: none;
}

.articles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.article {
  background: darken($background, 4%);
  border-radius: 4px;
  margin: 1em;
  max-width: 480px;
  padding: 1em;
}

.article__date-source {
  color: lighten($text-headline, 30%);
}
