/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Arvo|Roboto');

@import 'style-variables';

.shell-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  background: $midnight-blue;
  height: 100%;
}

body {
  color: $morning-glory;
  font-family: 'Arvo', serif;
  margin: 0;
}

a {
  color: $morning-glory;
  text-decoration: none;
}

.articles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

.article {
  background: lighten($midnight-blue, 4%);
  border-radius: 4px;
  margin: 1em;
  padding: 1em;
  max-width: 800px;
}

@media screen and (min-width: (1200px)) {
  .article {
    max-width: 480px;
  }
}

.article__date-source {
  color: lighten($midnight-blue, 20%);
}
