<app-header></app-header>
<div class="articles-container">
  <div *ngIf="loadingArticles$ | async" class="article">
    <h3>Ladataan uutisia...</h3>
  </div>
  <div *ngIf="(weather$ | async).temp" class="article">
    <h3>{{ (weather$ | async).temp | number:'2.0-0'}} &#8451; {{ (weather$ | async).summary }}</h3>
  </div>
  <div *ngFor="let article of (articles$ | async)" class="article">
    <a [href]="article.link">
      <h3>{{ article.title }}</h3>
    </a>
    <div class="article__date-source">
      <p>{{ article.timestamp }}</p>
      <p>{{ article.source }}</p>
    </div>
  </div>
</div>